<% if @article.errors.any? %>
<h2>The following errors have prevented the article from getting created:</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul> 
<% end %>

<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %>
    </br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    </br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Back", articles_path %>