<h1>Showing selected article</h1>

<p>Title: <%= @article.title %> </p>
<p>Description: <%= @article.description %> </p>

<%= link_to "Edit", edit_article_path(@article) %> | 
<%= link_to "Back", articles_path %>