
<div style=''>
  <center>
  <h1>Welcome to Alpha Blog</h1>
  <b><%= link_to 'Home', root_path %></b> | 
  <%= link_to 'Blog', articles_path %> | 
  <%= link_to 'About', about_path %>
  <br />

  <%= image_tag 'avatar.jpeg'%>
  </center>
</div>

